<form
        [formGroup]="loginForm"
        (ngSubmit)="checkUser()"
        style="margin:15px;margin-top:20px;width: 100%;height:100%;"
>
    <div style="text-align:center;width:100%">
        <h2 style="width:100%;text-align:center">
            <i class="material-icons">person</i>
            Log in
        </h2>
        <hr style="width:60%">
    </div>

    <br>

    <md-input-container class="form-group">
        <input mdInput
               placeholder="Username "
               type="text"
               [formControlName]="'username'">
    </md-input-container>

    <br>

    <md-input-container class="form-group">
        <input mdInput
               placeholder="Password "
               type="text"
               [formControlName]="'password'">
    </md-input-container>

    <br>

    <button md-button type="submit" color="primary">Submit</button>
</form>