<h1>Personal info</h1>



<div *ngIf="personalInfo">
<md-card-content>
    <md-card>

        <h4>
            <i class="material-icons">person</i>
            First Name: {{personalInfo.data.first_name}}
        </h4>

        <br>

        <h4>
            <i class="material-icons">person</i>
            Last Name: {{personalInfo.data.last_name}}
        </h4>

        <br>

        <h4>
            <i class="material-icons">description</i>
            Description: {{personalInfo.data.description}}
        </h4>

        <button md-button (click)="onEdit(personalInfo)">Edit</button>
    </md-card>

</md-card-content>
</div>


