<form
        [formGroup]="userCreateForm"
        (ngSubmit)="createUser()"
        style="margin: 100px;"
>
    <div style="text-align:center;width:100%">
        <h2 style="width:100%;text-align:center">
            <i class="material-icons">work</i>
            Create User
        </h2>
        <hr style="width:60%">
    </div>

    <br>

    <md-input-container class="form-group">
        <input mdInput
               placeholder="Username "
               type="text"
               [formControlName]="'username'">
    </md-input-container>

    <br>

    <md-input-container class="form-group">
        <input mdInput
               placeholder="Password "
               type="text"
               [formControlName]="'password'">
    </md-input-container>

    <br>

    <md-select md-select [formControlName]="'user_role'">
        <div *ngFor="let r of roles">
            <md-option [value]="r">{{r.code}}</md-option>
        </div>
    </md-select>

    <br>

    <button md-button  color="primary">Submit</button>

</form>