<div class="create-user-content">
    <h3>Create User</h3>

    <form
        [formGroup]="userCreateForm"
    >
        <div>
            <label for="userName">UsereName</label>

            <input id="userName" [formControlName]="'userName'">

            <label for="password">Password</label>

            <input id="password" [formControlName]="'password'">

            <button type="button" class="generate-password-button">Generate</button>
        </div>

        <div>
            <p id="errorMessage"></p>
        </div>

        <button class="create-button">Create User</button>
    </form>

</div>

