<!--<div class="panel panel-default" style="width: 100%">

    <div class="panel-heading">User list</div>
    <ul class="list-group" *ngIf="usersList">
            <li class="list-group-item" *ngFor="let user of usersList; let i = index" (click)="onSelect(user)">
            {{ user.name }}
        </li>
    </ul>
</div>-->
<div class="panel panel-default" style="width: 100%">
    <div class="panel-heading">Users list</div>
    <users-detail *ngFor="let user of userList;" [value]="user"></users-detail>
<users-delete></users-delete>
</div>

