<md-card style="width:500px;margin:20px">
    <div *ngIf="activeJobInfo" >
        <i class="material-icons">work</i>

        <h1 (click)="onSelect(activeJobInfo)">
            {{ activeJobInfo.name }}
        </h1>


        <button

                md-button
                *ngIf="this.storageService.getLogedInUser().user_roles_id > 1"
                (click)="deleteJob(activeJobInfo.id);deleteItem()">

            <i class="material-icons">delete</i>Delete
        </button>
    </div>
</md-card>



