<div class="app">
    <header>
        <md-toolbar color="primary">
            <span>Arobs Job assistance</span>
            <span class="spacer"></span>
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu" color="primary">
                <button md-menu-item>
                    <md-icon>fingerprint</md-icon>
                    <span>Login</span>
                </button>
                <button md-menu-item disabled>
                    <md-icon>announcement</md-icon>
                    <span>Issues</span>
                </button>
                <button md-menu-item>
                    <md-icon>notifications_off</md-icon>
                    <span>Disable alerts</span>
                </button>
            </md-menu>
        </md-toolbar>


        <nav md-tab-nav-bar>
            <a md-tab-link *ngFor="let menuItem of menuItems"
               (click)="activateMenuItem(menuItem.id);currentUrl();"
               [routerLink]="[menuItem.routerLink]"
               routerLinkActive #rla="routerLinkActive"
               [active]="isMenuItemActive(menuItem.id)">
                {{ menuItem.name }}
            </a>
           <!-- <a md-tab-link
               [routerLink]="['/users']" (click)="activeLinkIndex = 2"
               routerLinkActive #rla="routerLinkActive"
               [active]="activeLinkIndex === 2">
                Users
            </a>
            <a md-tab-link
               [routerLink]="['/jobs']" (click)="activeLinkIndex = 3"
               routerLinkActive #rla="routerLinkActive"
               [active]="activeLinkIndex === 3">
                Jobs
            </a>-->
        </nav>
    </header>


    <div class="aside-content">
        <aside>
            <div class="menu">
                <button type="button" md-button (click)="sidenav.open()" style="width:100%">
                    Menu
                </button>
            </div>

            <md-sidenav-container class="example-container">
                <md-sidenav #sidenav class="example-sidenav" (click)="sidenav.close()">
                    <div *ngIf="currentRouteId">
                        <button
                                md-raised-button
                                class="aside-button"
                                *ngFor="let element of menuItems[currentRouteId].children"
                                [routerLink]="element.routerLink"

                        >{{element.name}}
                        </button>
                    </div>




                 <!--   <div class="dropdown">
                        <button routerLink="users" class="dropbtn">Users</button>

                        <div class="dropdown-content">
                            <a routerLink="users/create">Create</a>
                            <a routerLink="users/list">List</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button routerLink="jobs" class="dropbtn">Jobs</button>

                        <div class="dropdown-content">
                            <a routerLink="jobs">Create</a>

                            <a routerLink="jobs/list">List</a>
                        </div>
                    </div>-->
                </md-sidenav>

<!--
                <div class="example-sidenav-content">

                </div>
-->




            </md-sidenav-container>

        </aside>



        <div class="content">
            <router-outlet>

            </router-outlet>
        </div>

    </div>



    <footer style="position:fixed;bottom:0;width:100%;style=text-align: center">
        <md-toolbar  color="primary" class="md-scroll-shrink" >
            <h1>by Richie</h1>
        </md-toolbar>
    </footer>

</div>



