<div class="app">

    <header>
        <h1>My Profile</h1>
        <nav></nav>
    </header>

    <div class="aside-and-content">
        <aside>
            <div class="menu-h1">
                <h1>Menu</h1>
            </div>

            <button routerLink="profile">Profile</button>

            <div class="dropdown">
                <button routerLink="users" class="dropbtn">Users</button>

                <div class="dropdown-content">
                    <a routerLink="users/create">Create</a>
                    <a routerLink="users/list">List</a>
                </div>
            </div>

            <div class="dropdown">
                <button routerLink="jobs" class="dropbtn">Jobs</button>

                <div class="dropdown-content">
                    <a routerLink="jobs">Create</a>

                    <a routerLink="jobs/list">List</a>
                </div>
            </div>

        </aside>

        <div class="content">
            <router-outlet>

            </router-outlet>
        </div>
    </div>

    <footer>
        <h3>
            by Richie
        </h3>

    </footer>

</div>



