html,body{
    margin:0;
}

h1{
    margin:0;
}
.app {
    margin:0;
}

.aside-and-content {
    display: flex;
}


header {
    height: 20%;
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: beige;
}

aside {
    height: 90vh;
    margin-top: 0px;
    width: 10%;
    background-color: #2aa198;
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}