<form
        [formGroup]="createJobForm"
        (ngSubmit)="onSubmit()"
        style="margin: 100px;"
>
    <div style="text-align:center;width:100%">
        <h2 style="width:100%;text-align:center">
            <i class="material-icons">work</i>
            Create new job
        </h2>
        <hr style="width:60%">
    </div>

    <br>

    <md-input-container class="form-group">
        <input mdInput
               placeholder="Name "
               type="text"
               [formControlName]="'name'">
    </md-input-container>

    <br>

    <md-input-container class="form-group">
      <textarea mdInput
                placeholder="Description"
                type="text"
                [formControlName]="'description'">
      </textarea>
    </md-input-container>

    <br>

    <md-input-container class="form-group">
      <textarea mdInput
                placeholder="Benefits"
                type="text"
                [formControlName]="'benefits'">
      </textarea>
    </md-input-container>
    <br>

    <div [formArrayName]="'requirements'">
        <h4>Requirements</h4>
        <button md-button type="button" (click)="addRequirementToList()">
            <i class="material-icons" style="color:#673ab7">add_circle</i>
        </button>

        <div *ngFor="let control of createJobForm.get('requirements').controls; let i = index">
            <label style="margin-right: 30px">Requirement #{{ i + 1 }}</label>

            <md-select md-select [formControlName]="i">
                <div *ngFor="let c of skills"  >
                    <md-option  [value]="c">{{c.name}}</md-option>
                </div>
            </md-select>

        </div>
    </div>
    <button md-button  color="primary">Submit</button>
</form>


